* {
    font-family: 'IBM Plex Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: rgba(234, 239, 247, 1);
    background-color: #265FB1;
}

h1{
  display: inline-block;
  font-size: 49px;
  font-weight:500;
  color: #EAEFF7;
  margin-left: 11px;
}

h3 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #88A7D4;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #88A7D4;
}

p {

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 120px 304px 328px;
    grid-template-areas:  "header header header header"
                          "experience experience experience skills"
                          "courses courses courses courses" ;
    gap: 8px 8px;
}

.grid-container_box {
    position: relative;
    padding: 4px 8px;
    border: 0.5px solid #88A7D4;
}

.header {
  position: relative;
  padding-top: 0;
  padding-left: 0;
  grid-area: header;
  border: none;
}

.header ul {
  position: absolute;
  right: 0px;
  display: inline-block;
  text-align: right;
  list-style-type: none;

  line-height: 26px;
  font-size: 18px;
  font-weight: 500;
}

li img {
  margin-top: auto;
  margin-left: 11px;
}


.experience {
  grid-area: experience;
}
.grid-container_box__inner {
  display: flex;
  align-items: baseline;
  margin-bottom: 18px;
}

.grid-container_box__inner__left {
  display: inline-block;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.grid-container_box__inner__left span:nth-child(1) {
  font-size: 14px;
  line-height: 19px;
  color: #EAEFF7;
}

.grid-container_box__inner__left span:nth-child(2) {

  font-size: 10px;
  line-height: 19px;
  color: #EAEFF7;
}

.grid-container_box__inner__left span:last-child {

  font-size: 12px;
  line-height: 16px;
  color: #A7ACCF;
}

.grid-container_box__inner__right {
  padding-left: 40px;
}

.grid-container_box__inner__right p{
  font-size: 12px;
  line-height: 16px;
}

.skills {
  grid-area: skills;
}

.skills p {
  line-height: 20px;
  font-size: 14px;
}

.courses {
  grid-area: courses;
}



@media (min-width: 1200px) and (max-width: 2100px) {
    main {
        padding: 32px;
        width: 832px;
        height: 832px;
        background-color: #0A182C;
        margin: 5vh auto;
        box-shadow: 0 0 40px rgba(10, 24, 44, 0.5);
    }
}
